@use "/styles/mixins";
@import "/styles/variables";

.main {
  box-shadow: 0 3px 10px 0 rgb(49 64 71 / 8%);

  .main_content {
    @include mixins.flex(space-between);

    .logo {
      @include mixins.profileImage(100px);
      background-image: url("../../../../static/images/codeHire-logo.png");
      background-size: contain;
    }

    .links {
      @include mixins.flex(normal);

      p {
        margin: 0 1rem;
      }
      a{
        text-decoration: none;
        :hover{

        }
      }

    }

    .main_notification {
      > * {
        margin: 0 0.5rem;
      }

      @include mixins.flex(normal);

      .cover_image {
        @include mixins.profileImage(50px, 50px);
      }
    }

    .button_wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        margin: 0 0.5rem;
        @include mixins.textFont(1rem, 400, $white);
        @include mixins.globalButton($signup-main, $white, 120px, 40px);
        border-radius: 0.5rem !important;
      }
      .apply_job{
        @include mixins.textFont(1rem, 400, mixins.$white);
        @include mixins.globalButton(mixins.$base-color-main, mixins.$base-color-main, 150px, 40px);
      }

    }
  }
}
