@use "/styles/mixins";
@import "/styles/variables";
.container {
  background-color: rgba(118, 109, 244, 0.1);
  padding: 3rem 0;
  display: flex;
  align-items: center;
  @media (max-width: 1100px) {
    flex-direction: column;
  }
  .section1 {
    padding: 0 3rem;
    @media (max-width: 1100px) {
      padding: 0 1rem;
    }
    .subTitle {
      font-size: 18px;
      color: lightgrey;
      margin-bottom: 5px;
    }

    .title {
      font-size: 2.5rem;
      color: #1c1c1c;
      margin-bottom: 30px;
      span {
        color: #766df4;
      }
    }

    .description {
      font-size: 16px;
      color: #7a7a7a;
      margin-bottom: 30px;
    }

    .searchForm {
      @include mixins.flex;
      @media (max-width: 1100px) {
        flex-direction: column;
      }
      .formGroup {
        width: 100%;
        input {
          width: 100%;
          padding: 0 1rem;
          height: 50px;
          border: none;
          color: #7a7a7a;
          outline: none;
          margin: 0.5rem 0;
        }
      }

      button {
        height: 50px;
        padding: 0 30px;
        background: #766df4;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        @media (max-width: 1100px) {
          margin: 0.5rem 0;
          width: 100%;
        }

        &:hover,
        &:focus {
          background: #766df4;
        }
      }
    }
  }
  .img {
    width: 60%;
    height: 600px;
    background: url("../../../static/images/HeroSection.png") no-repeat center
      center;
    background-size: contain;
    @media (max-width: 1100px) {
      height: 400px;
      width: 100%;
    }
  }
}
