@use "/styles/mixins";
@import "/styles/variables";
.error{
    color: $warning;
    font-size: 0.8rem;
    margin: 0.5rem 0;
}
.main {
  .heading {
    margin: 1rem 0;
    @include mixins.textFont(1rem, 700, $text-heading-color);
  }
  p {
    word-spacing: 2px;
    @include mixins.textFont(1rem);
  }
}
