@use "/styles/mixins";
@import "/styles/variables";
.main{
  @include mixins.flex(center,center);
  cursor: pointer;
  padding: 1rem;
  overflow: hidden;
  //border-left: 1px solid $bg_grey;

  .coverImg{
    width: 50px;
    height: 50px;
    background: url(/static/images/figma_logo.png) no-repeat center;
    background-size: cover;
    border-radius: 50%;
  }
  .chat_content{
    position: relative;
    @include mixins.flex(space-between,left);
    flex-direction: column;
    width: 90%;
    word-spacing: 0.5px;
    .chat_content_row1{
      line-height: 20px;
      padding-left: 10px;
      @include mixins.flex(space-between,center);
      overflow: hidden;
      text-overflow: ellipsis;
      :first-child{
        flex-grow: 1;
        @include mixins.textFont(17px,400,$black)

      }
      .chat_content_date{
        p{
          time{
            @include mixins.textFont(0.9rem,$black)
          }
        }
      }
    }
    .chat_content_row2{
      line-height: 20px;
      padding-left: 10px;
      :first-child{
        @include mixins.textFont(15px,300,$black);
        width: 140px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    &:before{
      width: 100%;
      position: absolute;
      border-bottom: 0.5px solid $gray-new;
      bottom: -15px;
      content: "";
    }
  }
}