@use "/styles/mixins";
@import "/styles/variables";

.container {
  border-radius: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  nav {
    display: flex;
    justify-content: space-between;
    text-align: center;

    p {
      color: #766df4;
      font-size: 1.2rem;
      padding: 1rem 2rem;
      border-radius: 0.4rem;
      &:hover {
        color: white;
        background-color: #766df4;
      }
    }
  }
}
