@use "/styles/mixins";
@import "/styles/variables";
.container {
  max-width: 900px;
  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
    padding: 0.8rem 2rem;
    border-radius: 5px;
    p {
      color: #766df4;
      border-radius: 8px;
      margin: 0;
      padding: 10px 20px;
      box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
      font-size: 16px;
      &:hover {
        color: white;
        background-color: #766df4;
      }
    }

    @media only screen and (max-width: 768px) {
      max-width: 700px;
      flex-direction: row;
      flex-wrap: nowrap;
      padding: 0.7rem;
      justify-content: space-around;
      border-radius: 2px;

      p {
        border-radius: 4px;
        box-shadow: none;
        margin: 0;
        padding: 0.5rem 0.4rem;
        text-align: center;
        font-size: 0.7em;
      }
      p:hover {
        background-color: #766df4;
      }
    }
  }
}
