@use "/styles/mixins";
@import "/styles/variables";
.SubscribeContainer {
  .SubscribeLogo {
    padding: 1rem;
    display: flex;
    margin: 0 4rem;
    p {
      margin: 0 2rem;
      min-width: 130px;
      height: 100px;
    }
    p:nth-child(1) {
      background: url("/static/images/Sub1.png") no-repeat center center/contain;
    }
    p:nth-child(2) {
      background: url("/static/images/Sub2.png") no-repeat center center/contain;
    }
    p:nth-child(3) {
      background: url("/static/images/Sub3.png") no-repeat center center/contain;
    }
    p:nth-child(4) {
      background: url("/static/images/Sub4.png") no-repeat center center/contain;
    }
    p:nth-child(5) {
      background: url("/static/images/Sub5.png") no-repeat center center/contain;
    }
    p:nth-child(6) {
      background: url("/static/images/Sub6.png") no-repeat center center/contain;
    }
  }
  .Subscribe {
    background-color: #343C3F;
    display: flex;
    flex-wrap: wrap;
    padding: 0 6rem;
    .SubscribeContent {
      padding: 3rem 3rem 3rem 0;
      p:nth-child(1) {
        color: rgba(255, 255, 255, 0.85);
        font-weight: 500;
        font-size: 1.7rem;
        line-height: 1px;
      }
      p:nth-child(2) {
        color: #ffffff80;
        font-weight: 500;
        font-size: 1.1rem;
      }
    }
    .SubscribeSearch {
      padding: 4rem 0 5rem 8rem;
      .SubscribeInput {
        outline: none;
        border: 1px solid lightgray;
        border-radius: 6px 0 0 6px;
        background: none;
        padding: 16px 250px 15px 10px;
      }
      .SubscribeButton {
        color: white;
        border-radius: 0 6px 6px 0;
        padding: 1rem 2rem;
        background-color: #766df4;
      }
    }
  }
}
