@use "/styles/mixins";
@import "/styles/variables";

.container {
  display: grid;
  width: 100%;
  margin: 4rem auto;
  .logo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 0.5fr));
    height: 40px;
    p:nth-child(1) {
      background: url("/static/images/Sub1.png") no-repeat center center/contain;
    }
    p:nth-child(2) {
      background: url("/static/images/Sub2.png") no-repeat center center/contain;
    }
    p:nth-child(3) {
      background: url("/static/images/Sub3.png") no-repeat center center/contain;
    }
    p:nth-child(4) {
      background: url("/static/images/Sub4.png") no-repeat center center/contain;
    }
    p:nth-child(5) {
      background: url("/static/images/Sub5.png") no-repeat center center/contain;
    }
    p:nth-child(6) {
      background: url("/static/images/Sub6.png") no-repeat center center/contain;
    }
  }
  .content {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 2rem 1rem;
    display: grid;
    width: 100%;
    margin: 1rem auto 0 auto;
    gap: 30px;
    @media (min-width: 768px) {
      grid-template-columns: repeat(auto-fit, minmax(1px , 1fr));
    }
    div {
      p {
        padding: 0.5rem 0;
      }
      input {
        width: 100%;
        padding: 0.5rem;
        border-radius: 5px;
      }
    }
  }
}
