@use "/styles/mixins";
@import "/styles/variables";

.main {
  width: 320px;
  padding: 1.5rem;
  border: 1px solid $border-light;
  p {
    @include mixins.textFont(1rem, 400);
  }
  .sec1 {
    display: flex;

    .coverImages {
      @include mixins.profileImage;
      margin: 0 1rem 0 0;
    }

    p {
      margin: 0.5rem 0;
    }
    .profile {
      @include mixins.textFont(1.1rem, 700, $black);
    }

    .amount {
      @include mixins.Label;
      @include mixins.textFont(0.8rem, 500);
    }
  }

  .rating {
    svg {
      color: $rating-star;
      margin: 0 3px;
    }
  }

  .occupation {
    display: flex;
    border: 1px solid $border-light;

    p {
      padding: 1rem;
      margin: 0;
      width: 50%;
    }

    p:first-child {
      border-right: 1px solid $border-light;
    }
  }
  .button_wrapper {
    button {
      @include mixins.globalButton($button-blue, $button-blue, 100%);
      @include mixins.textFont(0.9rem, 700, $white);
      margin: 0.4rem 0;
      padding: 0.7rem 0.5rem;
    }
  }
}
