@use "/styles/mixins";
@import "/styles/variables";
.CardMainContainer {
  padding: 4rem 0;
  background-color: rgba(248, 249, 252, 1);

  .CardHeader {
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;

    h3 {
      font-size: 30px;
      line-height: 1.375;
      color: #495057;
      margin: 0 0 8px;
    }

    p {
      font-size: 15px;
      color: #74788d;
      margin-bottom: 4rem;
    }
  }
  .CardContainer {
    margin: 5rem 4rem;
    display: flex;
    flex-wrap: wrap;

    .Card {
      box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px, rgba(0, 0, 0, 0.24) 0 1px 2px;
      flex: 1;
      padding-bottom: 2rem;
      margin-right: 1rem;

      .CardLogo {
        background: url("/static/images/default_profile_img.svg") no-repeat center
          center/contain;
        min-width: 100px;
        height: 140px;
      }

      .CardLogoContent {
        margin: 0 2rem;

        .CardHeading {
          font-size: 17px;
          color: #314047;
          font-weight: 500;
        }

        .CardSubheading {
          color: #74788d;
        }
      }

      .CardBtn {
        button {
          font-size: 1rem;
          color: #766df4;
          background: none;
          outline: none;
          border: none;
        }

        .arrow {
          color: #766df4;
          margin-bottom: -0.2rem;
        }
      }
    }

    .Card:hover {
      box-shadow: rgba(50, 50, 93, 0.25) 0 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
  }
}
