@use "/styles/mixins";
@import "/styles/variables";

@mixin Icon($color) {
  @include mixins.flex(center, center);
  margin: 0 1rem;
  height: 40px;
  width: 40px;
  background-color: $color;
  border-radius: 50%;
  cursor: pointer;
}

.main {
  @include mixins.flex(space-between, normal);
  flex-direction: column;
  //background: $white url(/static/images/chatMain_display.png) no-repeat center;
  background: $white  no-repeat center;
  background-size: 40%;
  height: calc(100vh - 175px);
  border-top: 1px solid $bg_grey;
  border-right: 1px solid $bg_grey;

  .chat_main {
    padding: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
    overflow-y: scroll;
    .load_more {
      text-align: center;
      @include mixins.textFont(1rem, 700, $white);
      @include mixins.globalButton($message, $message, 100%, 25px);
    }
  }

  .chat_main::-webkit-scrollbar {
    width: 5px;
  }

  .chat_main::-webkit-scrollbar-thumb {
    background-color: $gray-main;
    border-radius: 50px;
  }

  .footer {
    @include mixins.flex(space-between, center);
    background-color: #e7e7e7;
    border-bottom: 1px solid $gray-new;
    border-top: 1px solid $gray-new;
    height: 4rem;
    @media (max-width: 1099px) {
      @include mixins.flex(space-between, center);
    }

    textarea {
      width: 85%;
      height: 45px;
      margin: 1rem 0 1rem 1rem;
      padding: 0.8rem 1rem;
      resize: none;
      outline: none;
      border: 1px solid $gray-main;
      border-radius: 8px;
    }

    .export {
      label {
        cursor: pointer;
        margin: 0 1rem;
        opacity: 0.5;
      }

      img{
        margin-left: 1rem !important;
      }
      input {
        display: none;
      }
    }

    .send {
      @include Icon($message);
      background-color: #276ed0;
    }

    .send_message {
      @include mixins.textFont(1rem, 700, $white);
      //@include mixins.globalButton(#276ed0, 70px, 40px);
      background-color: #276ed0;
      padding: 1rem;
      border-radius: 10px;
      margin: 0 0.5rem;
    }

    .disable {
      background: $gray-main;
      border: none;
      color: $white;
    }
  }

  .senderMessage {
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 1rem;
    .messageContent {
      background-color: white; // Replace with the desired color for sender messages
      color: mixins.$black;
    }
  }

  .receiverMessage {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    .messageContent {
      background-color: white; // Replace with the desired color for receiver messages
      color: mixins.$black;
    }
  }
}
