@use "/styles/mixins";
@import "/styles/variables";
.main {
  margin: 8rem 0 0 0;
  @include mixins.flex(space-between);
  @media (max-width: 1100px) {
    margin: 4rem 0 0 0;
    flex-direction: column;
  }
  .mainDetails {
    width: 50%;
    @media (max-width: 1100px) {
      width: 100%;
    }
    .heading {
      margin: 0.5rem 0;
      @include mixins.textFont(2rem, 600, $black);
    }

    .details {
      @include mixins.textFont(1rem, 400);
    }

    form {
      width: 100%;
      .input_main {
        @include mixins.flex(space-between);

        .input_wrapper {
          margin: 0.5rem;
          width: 100%;

          .label {
            @include mixins.textFont(1rem, 500, $text-heading-color);
            margin: 0.5rem 0;
          }

          input,
          textarea {
            outline: none;
            padding: 0.9rem;
            border-radius: 0.3rem;
            width: 100%;
            border: 1px solid $input-border;
            resize: none;
          }
        }
      }

      .button_wrapper {
        @include mixins.flex(flex-end);

        button {
          @include mixins.globalButton($button-blue, $button-blue, 145px, 45px);
          border-radius: 0.3rem;
          @include mixins.textFont(0.9rem, 700, $white);
        }
      }
    }
  }
  .sec2 {
    width: 47%;
    .contact_img {
      background: url("../../../../static/images/contact.png") no-repeat center
        center;
      height: 450px;
      cursor: pointer;
      background-size: cover;
      @media (max-width: 425px) {
        background: none;
        height: 0;
      }
    }
    @media (max-width: 1100px) {
      margin: 2rem 0;
      width: 100%;
    }
    .footer {
      p {
        @include mixins.textFont(0.9rem, 500);
        @include mixins.flex(normal);
        margin: 1rem 0;
        svg {
          font-size: 1rem;
          margin: 0 0.5rem 0 0;
          color: $button-blue;
        }
      }
    }
  }
}
