@use "/styles/mixins";
@import "/styles/variables";
.container {
  background-color: $bg_grey;
  margin: 140px 0;
  .title {
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
    h3 {
      font-size: 30px;
      line-height: 1.375;
      color: #495057;
      margin: 0 0 8px;
    }
    p {
      font-size: 15px;
      color: #74788d;
      margin-bottom: 4rem;
    }
  }
}
