@use "/styles/mixins";
@import "/styles/variables";

.main {
  box-shadow: 0 3px 10px 0 rgb(49 64 71 / 8%);
  padding: 1rem;

  .main_content {
    @include mixins.flex(space-between);

    .logo {
      @include mixins.profileImage(100px);
      background-image: url("../../../static/images/codeHire-logo.png");
      background-size: contain;
    }

    .links {
      @include mixins.flex(normal);

      p {
        margin: 0 1rem;
      }
    }

    .main_notification {
      > * {
        margin: 0 0.5rem;
      }

      @include mixins.flex(normal);

      .bell {
        position: relative;
      }

      .bell::before {
        top: -12px;
        left: 6px;
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: $warning;
      }

      .cover_image {
        @include mixins.profileImage(50px, 50px);
      }
    }

    .button_wrapper {
      button {
        @include mixins.textFont(1rem, 400, $white);
        @include mixins.globalButton($signup-main, $white, 120px, 40px);
      }
    }
  }
}
