@use "/styles/mixins";
@import "/styles/variables";
.main{
  box-shadow: 0 3px 10px 0 rgb(49 64 71 / 8%);
  padding: 1rem ;
@include mixins.flex(space-between);
  .links{
    @include mixins.flex(normal);
    p{
      margin: 0 1rem;
    }
  }
  .main_notification{
    >*{
      margin: 0 0.5rem;
    }
    @include mixins.flex(normal);
    .bell{
      position: relative;
    }
    .bell::before {
      top: -12px;
      left: 6px;
      content: '';
      position: absolute;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: $warning;
    }
    .cover_image{
      @include mixins.profileImage(50px,50px);
    }
  }
}