@use "/styles/mixins";
@import "/styles/variables";

.main {
  //overflow: scroll;
  @include mixins.flex(center, normal);
  height: 91vh;
  .list {
    width: 100%;
    background-color: white;
    //height: calc(100vh - 150px);
    height: calc(100vh - 175px);
    overflow: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border: 1px solid $bg_grey;

    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }

    .chat_card {
      cursor: pointer;
    }

    .active {
      background: $gray;
    }
    .no_company {
      //margin: 2rem 0;
      text-align: center;
      @include mixins.textFont(1.5rem, 700, $warning);
    }
  }

  .label_section {
    padding: 0 1rem;
    .no_company_label {
      @include mixins.textFont(1.5rem, 700, $warning);
      margin: 0.5rem 0 ;
    }
    .label {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      color: $base-color-main;
      font-size: 1.5rem;
      font-weight: 700;
    }

  }

  .chat_user_section {
    display: flex;
    margin: -0.5rem 0 0 0;


    .chat_box {
      width: 100%;
    }

    .company_details {
      width: 30%;
    }
  }

  @media (min-width: 1100px) {
    & > :nth-child(1) {
      width: 25%;
    }
    & > :last-child {
      width: 75%;
    }
  }

  @media (max-width: 1000px) {
    & > :nth-child(1) {
      width: 25%;
    }
    & > :last-child {
      width: 75%;
    }
  }

  .bar_chat{
    @include mixins.flex(space-between,center);
    //gap: 0.5rem;
    background: rgba(39, 110, 208, 0.84);
    height: 60px;
    padding: 0 1rem;
    img:first-child{
        cursor: pointer;
        height: 100%;
        width: 2.8rem;
    }
    //img:last-child{
    //  cursor: pointer;
    //  height: 100%;
    //  width: 1.2rem;
    //}
  }
  .bar_content{
    @include mixins.flex(flex-start,center);
    gap: 0.8rem;
    background: white;
    height: 60px;
    border-left: 1px solid $bg_grey;
    padding: 0 0.5rem;
    width: 100%;
    div{
      flex-grow: 1;
      @media (max-width: 400px) {
        font-size: 15px;
      }
    }
    .setting{
      cursor: pointer;
      height: 100% ;
      width: 1.5rem ;
    }
    .status{
      font-weight: 500;
      font-size: 15px;
      color: rgba(39, 110, 208, 0.84);
    }
    .picture{
        cursor: pointer;
        height: 45px;
        width: 45px;
        object-fit: cover;
        border-radius: 50%;
    }

  }
}
