@use "/styles/mixins";
@import "/styles/variables";
.main_container {
  border: 1px solid #766df4;
  border-radius: 10px;
  margin: 2rem 5rem;
  background-color: white;
  .arrow {
    color: #766df4;
  }
  .business {
    p:nth-child(1) {
      font-size: 1.1rem;
      font-weight: 600;
    }
    p:nth-child(2) {
      margin-top: -0.5rem;
    }
  }
  .upper {
    display: flex;
    justify-content: space-between;
    .logo {
      margin-left: 3rem;
      @include mixins.profileImage;
      img {
        border-radius: 10px;
        height: 100%;
        width: 100%;
      }
    }
    div {
      padding: 1rem;
    }
    .btn {
      padding: 2rem;
      button {
        margin: 0 0.2rem;
        border: none;
        border-radius: 5px;
        padding: 0.4rem;
        outline: none;
      }
      button:nth-child(1) {
        background-color: rgba(218, 55, 70, 0.15) !important;
        color: rgb(218, 55, 70) !important;
      }
      button:nth-child(2) {
        background-color: rgba(95, 208, 243, 0.15) !important;
        color: rgb(95, 208, 243) !important;
      }
      button:nth-child(3) {
        background-color: rgba(247, 204, 83, 0.15) !important;
        color: rgb(247, 204, 83) !important;
      }
    }
  }
  .down {
    padding: 0 2rem;
    background-color: rgba(211, 211, 211, 0.38);
    display: flex;
    justify-content: space-between;
    p {
      margin: 0.6rem 1rem;
      span {
        color: rgba(0, 0, 0, 0.57);
      }
    }
  }
}
