.nav {
  margin: 1.4rem 0;
  border: 1px solid #766df4;
  border-radius: 5px;
  .row_third {
    max-width: 800px;
    display: grid;
    @media (min-width: 768px) {
      height: 160px;
      grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
      .logo {
        padding: 1rem 0;
        p {
          background-size: cover;
        }
      }
    }
    .logo {
      margin: 0 auto;
      height: 110px;
      width: 80px;
      p {
        margin-top: 2rem;
        height: 100%;
        width: 100%;
        background-image: url("../../../public/Image/card1.png");
        background-repeat: no-repeat;
      }
    }
    .content {
      margin: 0 auto;
      line-height: 20px;
      p:nth-child(1) {
        span:nth-child(1) {
          font-weight: bold;
          color: black !important;
        }
      }
      p {
        display: flex;
        span {
          color: #766df4;
          margin: 0 5px;
        }
        button {
          border: none;
          outline: none;
          padding: 0.7rem;
          border-radius: 5px;
        }
        .full {
          background-color: rgba(218, 55, 70, 0.15) !important;
          color: rgb(218, 55, 70) !important;
        }
        .urgent {
          background-color: rgba(95, 208, 243, 0.15) !important;
          color: rgb(95, 208, 243) !important;
          margin: 0 auto;
        }
        .private {
          background-color: rgba(247, 204, 83, 0.15) !important;
          color: rgb(247, 204, 83) !important;
        }
      }
    }
  }
  .footer {
    margin-top: 1rem;
    background-color: rgba(135, 206, 250, 0.32);
    display: flex;
    justify-content: space-around;
  }
}
