@use "/styles/mixins";
@import "/styles/variables";

.wrapper {
  background-color: rgba(118, 109, 244, 0.1);
  @include mixins.flex(center, center);
  @include mixins.centerCards(100vh, 100%);

  .card {
    @include mixins.flex(center, center);
    box-shadow: 0 5px 6px rgba(49, 64, 71, .1);
    border-radius: 10px;
    overflow: hidden;
    background-color: mixins.$blue-dark;
  }

  .cardLeft {
    @include mixins.flex(center, center);
    flex-direction: column;
    background-color: white;
    padding: 1.4rem;
  }

  .cardRight {

  }
}