@use "/styles/mixins";
@import "/styles/variables";
.main {
  text-align: center;
  background-color: rgba(118, 109, 244, 0.1);
  padding: 7rem 0;
  .heading {
    @include mixins.textFont(1.5rem, 700, $button-blue);
    margin: 1.5rem 0;
  }
  .content {
    @include mixins.textFont(1rem, 400);
  }
  span {
    color: $rating-star;
  }
  button {
    @include mixins.globalButton($button-blue, $button-blue, 150px, 45px);
    @include mixins.textFont(1rem, 500, $white);
    border-radius: 1rem;
    margin: 1.5rem 0;
  }
}
