@import "/styles/variables";

@mixin flex($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin ellipsis($width: 100px) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  width: $width;
}

@mixin lineClamp($line: 4) {
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin textFont(
  $size,
  $weight: normal,
  $color: $text-main-color,
  $lineHeight: normal
) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
  line-height: $lineHeight;
}

@mixin globalButton($background, $border, $width: auto, $height: auto) {
  cursor: pointer;
  background-color: $background;
  outline: none;
  border: 2px solid $border;
  border-radius: 1.5rem;
  height: $height;
  width: $width;
}

@mixin modals {
  position: fixed;
  background: rgba(255, 255, 255, 0.6);
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 99999999;
}

@mixin profileImage($width: 80px, $height: 80px, $radius: 50%) {
  background: url("../static/images/default_profile_img.svg") no-repeat center center;
  width: $width;
  height: $height;
  border-radius: $radius;
  cursor: pointer;
  background-size: cover;
}

@mixin Label($backgroundColor: rgba(31, 134, 239, 0.15), $color: $blue-label) {
  margin: 5px;
  padding: 0.4rem;
  border-radius: 0.3rem;
  background-color: $backgroundColor !important;
  color: $color !important;
  width: max-content;
}

@mixin input(
    $background-color: rgba(255, 255, 255,.2),
    $border-radius,
    $color:$black,
    $font-size:14px,
    $font-weight,
    $padding,
    $width:100%
) {
  background-color:$background-color;
  border: none;
  border-radius: $border-radius;
  color: $black;
  font-size: $font-size;
  font-weight: $font-weight;
  outline: none;
  padding: $padding;
  width: $width;
}


@mixin centerCards($height: 100vh, $width: 100%, $padding) {
  min-height: $height;
  width: $width;
  padding:$padding;
}

@mixin Error($color:$warning){
  margin: 0.5rem 0;
  @include textFont(0.8rem,700,$color);
}