@import "/styles/variables";

@mixin flex($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin ellipsis($width: 100px) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  width: $width;
}

@mixin lineClamp($line: 4) {
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin textFont(
  $size,
  $weight: normal,
  $color: $text-main-color,
  $lineHeight: normal
) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
  line-height: $lineHeight;
}

@mixin globalButton($background, $border, $width: auto, $height: auto) {
  cursor: pointer;
  background-color: $background;
  border-radius: 4rem;
  outline: none;
  border: 2px solid $border;
  height: $height;
  width: $width;
}

@mixin modals {
  position: fixed;
  background: rgba(255, 255, 255, 0.6);
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 99999999;
}

@mixin profileImage($width: 80px, $height: 80px, $radius: 50%) {
  background: url(/static/images/default_profile_img.svg) no-repeat center
    center;
  width: $width;
  height: $height;
  border-radius: $radius;
  cursor: pointer;
  background-size: cover;
}
