$base-color: #276ed0;
$base-color-main: #0a294d;
$base-heading: #8e8e8e;
$gray-main: #d0d0d0;
$warning: #d02727;
$white: rgb(255, 255, 255);
$black: #1b1b1b;
$gray: #f2f2f2;
$gray-new: #cdd6dd;
$Step-color-main: #31cedc;
$divider-border: 1px solid $gray-main;
$box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0,
  rgba(14, 30, 37, 0.32) 0 2px 16px 0;
$google-icon: "../../assets/image/google.svg";
$twitter-icon: "../../assets/image/twitter.svg";
$facebook-icon: "../../assets/image/facebook.svg";
$signup-main: #276ed0;
$bg_main: #eff9ff;
$message: #59cbd9;
$bg_grey: #b5b5b5;
$highlighted: #fe7044;
