@import "variables";

html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  transition: all 0.3s ease;
}

@font-face {
  font-family: "Inter";
  src: url("/static/fonts/Inter-VariableFont_slnt,wght.ttf") format("opentype");
}
