@use "/styles/mixins";
@import "/styles/variables";

.JobWorkMain {
  margin: 0 2rem;
  padding: 3rem 0;
  @include mixins.flex(space-between, normal);
  @media (max-width: 1100px) {
    margin: 0;
    flex-direction: column;
  }
  .JobWorkContent {
    width: 70%;
    @media (max-width: 1100px) {
      width: 100%;
    }
    font-weight: 600;
    padding: 0 0 0 1rem;
    .JobWorkHeading {
      padding: 2rem 0 3rem 0;
      h2 {
        color: #495057;
        font-weight: 500;
        font-size: 30px;
      }
      p {
        color: #74788d;
        margin-top: 1rem;
      }
    }
    .JobWorkList {
      margin: 2rem 0;
      h2 {
        @include mixins.flex(normal, flex-start);
        @include mixins.textFont(1.1rem, 500, $text-heading-color);
        span {
          display: inline-block;
          background-color: #766df4;
          border-radius: 50px;
          padding: 0.3rem 0.7rem;
          color: white;
          margin-right: 1rem;
        }
      }
      p {
        @include mixins.textFont(1rem, 400);
        color: #74788d;
        margin-left: 3rem;
      }
    }
  }
  .JobWorkLogo {
    background: url("../../../static/images/workjob.png") no-repeat center
      center;
    background-size: contain;
    height: 600px;
    width: 100%;
    @media (max-width: 1100px) {
      height: 400px;
    }
  }
}
